<% provide(:title, 'Create an achievement') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@achievement) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>