<% provide(:title, 'Activities') %>
<div>
	<table>
		<% if @activities!=nil %>
		<% if @activities.any? %>
		<% @activities.each do |activity| %>
		<tr>
			<td> <%= activity.name %></td>
			<td> <%= link_to "edit",:action => 'edit', :controller=>'activities',:id=>activity.id %></td>
			<% activity.achievements.each do |achievement|%>
			<td><%= achievement.name%></td>
			<% end %>
		</tr>
		<% end %>
		<% end %>
		<% end %>
	</table>
</div>